body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family: 'Open Sans', sans-serif;
	}
.header {
   background:#fff;
}

.logo {
  text-align: center;
    margin: 0.8em auto;
}
.logo a {
  display: block;
}

.logo h1 {
  margin-top: 0.2em;
  font-size: 4em;
  /*color:#d32543;*/
  /* font-family: 'Contrail One', cursive; */
  display:inline-block;
    
 }
 .top-menu {
  text-align: center;
  background:#666763;
  position: relative;
  z-index: 9;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 10px;
  left: 0px;
  width: 50%;
  top: 40%;
  max-width: 300px;
  background: #989292;
  -webkit-box-shadow: 0 15px 10px #989292;
  -moz-box-shadow: 0 15px 10px #989292;
  box-shadow: 0 15px 10px #989292;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 0px;
  left: auto;
}
 .top-menu ul li {
  display: inline-block;
  padding: 2em 1.5em;
  }
.top-menu ul li a{
 font-size: 1.5em;
  text-transform: capitalize;
  text-decoration: none;
 color: #fff;
 font-family: 'Contrail One', cursive;
}
.top-menu ul li a:hover {
  color:#d32543;
}
.top-menu ul li a.active {
  color:#d32543;
}
span.menu {
  display: none;
}

/*--- slider-css --*/
.slider{
  position: relative;
  margin: 3em 0 0 0;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 80%;
  padding: 0;
  margin: 2% 10% 5% 10%;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides_tabs {
  text-align: center;
  width: 100%;
  position:absolute;
  bottom:0%;
  z-index:999;
  }
.rslides_tabs li {
  display: inline-block;
  }
.rslides_tabs a {
   border:1px solid #999;
  }
.rslides_tabs li:first-child {
  margin-left: 0;
  }
.rslides_tabs .rslides_here a {
  color: #fff;
  font-weight: bold;
  }
#slider3-pager a {
  display: inline-block;
}
#slider3-pager img {
  float: left;
  display:block;
}
#slider3-pager .rslides_here a {
  background: transparent;
  border:2px solid #fff;
}
#slider3-pager a {
  padding:0.2em;
   border:2px solid #000;
}
.caption{
	position:absolute;
	top:0;
	width:60%;
	left:19%;
	text-align:center;
	top:43%;
background: rgba(6, 6, 6, 0.5);
  padding: 1.5em 0;
}
.caption h1{
	color:#FFF;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size:3em;
	text-transform:uppercase;
	margin-bottom:5px;
}
.caption p{
	color:#FFF;
	font-weight:400;
	font-size:1.3em;
	width:75%;
	margin:0 auto;
}

.about-section {
  text-align: center;
   padding: 4em 0;
     background: rgba(11, 10, 10, 0.84);
}
.about-section h3 {
  font-size: 2.5em;
  color: #fff;
  font-family: 'Contrail One', cursive;
}
.about-grids{
 margin-top: 2em;
}
.about-grid h4 {
  font-size: 1.4em;
  padding: 0.8em 0 0;
  color: #fff;
  font-weight: 600;
}
.about-grid p {
  font-size: 1em;
  padding: 1em 0;
  color: #999;
  line-height: 1.8em;
}
.service-section h3 {
  font-size: 2.5em;
  color: #000;
  text-align:center;
  font-family: 'Contrail One', cursive;
}
.service1 {
  float: left;
  width: 20%;
  margin-right: 2%;
}
.service2 {
  float: left;
  width: 78%;
}
.service-grid p {
  font-size: 1em;
  padding: 1em 0;
  color: #555;
  line-height: 1.8em;
}
.service-section {
  padding: 4em 0;
  background: #eee;
}
.service-grids {
  padding: 2em 0;
}
a.button {
 font-size: 1em;
  padding: 0.5em 1em;
  background: #d32543;
  margin-top: 1.5em;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  float: right;
  margin: 0 2.5em;
}
/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #fdb813;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#666763;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: white;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/*--clients--*/
.hourse-breeds {
  padding: 4em 0;
  text-align: center;
    background: rgba(22, 85, 118, 0.61);
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.clients {
  margin-top: 2em;
}
.hourse-breeds h3 {
	 font-size: 2.5em;
  color: #fff;
    text-transform: uppercase;
	font-family: 'Contrail One', cursive;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	
	cursor: pointer;
	position: relative;
     width:100%;
	height:100%;
}
.blog-section {
  padding: 4em 0;
  text-align: center;
    background: #f5f5f5;/*#130D0D;*/
}
.blog-section h3 {
  font-size: 2.5em;
  color: #394c53/*#fff*/;
  text-align:center;
  font-family: 'Contrail One', cursive;
}
.blog-grid img {
  border-radius: 24px;
}
.blog-grid h4 {
  font-size: 1.5em;
  padding: 0.8em 0 ;
  color: #000;
 
}
.blog-grid  p {
  font-size: 1em;
    padding: 0.5em 0 0;
  color: #999;
  line-height: 1.8em;
}
.blog-grids {
  margin-top: 2em;
}
.blog-grid a {
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}
.footer-section{
	padding:4em 0;
	text-align:center;
	background:#555;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.social-icons i
{
	width:70px;
	height:70px;
	background:url("../images/img-sprite1.png") no-repeat 0px 0px;
	display: inline-block;
	margin: 0 0 0 1em;
}

.social-icons i.icon1
{
	background:url("../images/img-sprite1.png") no-repeat 0px 0px;
}

.social-icons i.icon2
{
	background:url("../images/img-sprite1.png") no-repeat -70px 0px;
}

.social-icons i.icon3
{
	background:url("../images/img-sprite1.png") no-repeat -140px 0px;
}
.social-icons i:hover {
  opacity: 0.5;
}
.footer-bottom {
	margin-top: 1em;
}
.footer-bottom p {
	font-size: 17px;
	color: #ffffff;
	font-weight: 400;
}
.footer-bottom a {
	font-size: 19px;
	color:#000;
	font-weight: 400;
	text-transform: capitalize;
	font-family: 'Exo', sans-serif;
}
.footer-bottom a:hover {
	color: #d32543;
}
.footer-bottom p a {
	margin: 0 6px 0 6px;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top2.png") no-repeat 0px 0px;
}
.aboutus {
  padding: 4em 0;
}
.aboutus h3 {
  font-size: 2.5em;
  text-transform: capitalize;
   margin-bottom: 1.5em;
  color: #394c53;
  text-align:center;
  font-family: 'Contrail One', cursive;
 }
.about-grid1 {
  padding: 0;
}
.about-grid1 h4 {
  font-size: 1.4em;
   color: #555;
   font-weight:600;
   margin-bottom: 0.5em;
  
}
.about-grid1 p {
  font-size: 1em;
   color: #555;
  line-height:1.8em;
  text-align: left;
}
.about-grid2 iframe {
  width: 100%;
    height: 300px;
}
.Offer-section {
	padding: 2em 0 4em;
    background: #f5f5f5;
}
.Offer-section h3{
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 1.5em;
  color: #394c53;
    font-family: 'Contrail One', cursive;
  text-align:center;
  
}
.offer-grid h4 {
  text-align: center;
  background: #e42313;
  display: block;
	width: 26%;
  font-size: 3em;
  border-radius: 13px;
  padding: 20px 14px;
  color: #fff;
}
.offer-grid h4:hover {
  background: #e3bb4d;
}
.offer-grid p {
  font-size: 1em;
  color: #555;
  padding: 1em 0 1.5em;
  line-height:1.8em;
}
.offer-grid h5 {
  font-size: 1.4em;
  color: #000;
  padding-top: 0.8em;
  text-transform: capitalize;
  font-weight:600;
}
.ourteam {
  padding: 4em 0;
  background: #f5f5f5;
}
.ourteam h3 {
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 1.5em;
  color: #394c53;
 font-family: 'Contrail One', cursive;
  text-align: center;
}
.team-grid h5 {
  font-size: 1.4em;
  color: #000;
  font-weight: 600;
  padding: 0.5em 0;
    text-transform: capitalize;

}
.team-grid p {
  font-size: 1em;
  color: #555;
  text-align: left;
    line-height: 1.8em;
 }
 .breeding-section {
  padding: 4em 0;
}
 .breeding-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  margin-bottom: 1.5em;
  color: #394c53;
  text-align: center;
  font-family: 'Contrail One', cursive;
}
.breeding-grid1 h4 {
  font-size: 1.4em;
  color: #555;
  font-weight: 600;
  margin-bottom: 0.5em
}
.breeding-grid1 p {
  font-size: 1em;
  color: #555;
  line-height: 1.8em;
}
.breeding2 {
  margin-top: 2em;
}
a.button1 {
  font-size: 1em;
  padding: 0.5em 1em;
  background: #d32543;
  width: 16%;
  margin-top: 2.5em;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
 }
.train-img {
  float: left;
  width: 47%;
  margin-right:3%;
}
.train-text {
  float: left;
  width: 50%;
}
.training-section {
  padding: 2em 0;
  background:#eee;
}
.training-section h3 {
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 1.5em;
  color: #394c53;
  text-align: center;
  font-family: 'Contrail One', cursive;
}
.train-text h5 {
  font-size: 1.3em;
  color: #000;
    padding-bottom: 0.3em;
  text-transform: capitalize;
  font-weight: 600;
}
.train-text p {
  font-size: 1em;
  color: #555;
  line-height: 1.8em;
  text-align: left;
}
.trainin2 {
  margin-top: 2em;
}
.improve-section {
  padding: 4em 0;
 
}
.improve-section h3 {
  font-size: 2.5em;
  color: #000;
  font-family: 'Contrail One', cursive;
  text-align:center;
}
.improve-grids{
 margin-top: 2em;
}
.improve-grid h4 {
  font-size: 1.4em;
  padding: 0.8em 0 0;
  color: #000;
  font-weight: 600;
}
.improve-grid p {
  font-size: 1em;
  padding: 1em 0;
  color: #555;
  line-height: 1.8em;
}
/***** Gallery *****/
.raceing-section {
  padding: 4em 0;
}
.raceing-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  /*margin-bottom: 1.5em;*/
  color: #394c53;
  text-align: center;
  font-family: 'Contrail One', cursive;
}
.grid_1_of_4 {
  	display: block;
  	float: left;
  	margin: 1.3% 0 1% 1.6%;
  	background: #FFF;
}
.grid_1_of_4:first-child { 
	margin-left: 0; 
} 
.images_1_of_4 {
	width: 23.8%;
	position:relative; 
}
.images_1_of_4  img{
	max-width:100%;
	display:block;
	outline:none;
}
.images_1_of_4 a{
	outline:none;
}
.images_1_of_4 a img:hover{
	opacity:0.6;
}
/*--gallery--*/
/*-- 404 --*/
.e-page{
  background: url(../images/p.jpg) no-repeat 0px 0px;
  background-size: cover;
  padding: 14em 0 0 0;
  min-height: 860px;
  text-align: center;
}
.e-page h3{
  font-size: 15em;
  font-weight: 300;
  margin: 0;
  color: #000;
  font-family: 'Contrail One', cursive;
}
.e-page h5{
  font-size: 4em;
  font-weight: 300;
  margin: 1em 0;
  color: #d32543;
}
.e-page p {
color: #555;
  font-size: 18px;
  margin: 2em 0 ;
  line-height: 1.8em;
}
.e-button{
  text-transform: capitalize !important;
}
.see-button a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 4em;
  outline: none;
  background: #666763;
  border: none !important;
  color:#fff;
}
.see-button a:hover{
background:#d32543;
color:#fff;
}
/*-- mail --*/
.mail{
	padding:4em 0;
}
.mail h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  margin-bottom: 1.5em;
  color: #394c53;
  text-align: center;
  font-family: 'Contrail One', cursive;
}
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
.mail-grids {
  margin-top: 2em;
}
.mail-grid-left h3{
  color: #000;
  font-size:2em;
  font-weight: 300;
  margin: 0;
  text-align:left;
}
.mail-grid-left h5 {
  color: #555;
  font-size: 14px;
  margin: 1em 0;
  line-height: 1.8em;
}
.mail-grid-left h5 span {
  display: block;
}
.mail-grid-left h4{
	color:#000;
	font-size:18px;
	font-weight:600;
	margin:0;
}
.mail-grid-left p{
  color: #000000;
  font-size: 14px;
  margin: 1em 0;
  line-height: 1.8em;
}
.mail-grid-left p a{
	color: #000000;
}
.mail-grid-left p span{
	display:block;
}
.contact-form form {
  text-align: right;
}
.contact-form input[type="text"] {
  width: 100%;
  color: #555;
  background: none;
  outline: none;
  font-size: 16px;
  padding: .5em;
  margin-bottom: 1em;
  border: solid 1px #D5D4D4;
  -webkit-appearance: none;
}
.contact-form textarea {
  resize: none;
  width: 100%;
  color: #898888;
  font-size: 16px;
  outline: none;
  padding: .5em;
  border: solid 1px #D5D4D4;
  min-height: 150px;
  -webkit-appearance: none;
}
.contact-form input[type="submit"] {
  border: none;
  outline: none;
  color: #FFF;
  padding: .5em 1.5em;
  font-size: 16px;
  font-weight: 600;
  margin: 0.5em 0 0 0;
  -webkit-appearance: none;
  background: #d32543;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
.contact-form input[type="submit"]:hover{
	background:#666763;
	  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
span.menu {
  display: none;
}
/*-- responsive-design --*/
@media only screen and (max-width:1024px) {
.logo h1 {
  font-size: 3em;
}
.about-section h3 {
  font-size: 2em;
}
.about-grid h4 {
  font-size: 1.2em;
 }
.about-grid p {
  font-size: 0.965em;
 }
 .service-grid p {
  font-size: 0.965em;
 }
.service-section h3 {
  font-size: 2em;
 }
.hourse-breeds h3 {
  font-size: 2em;
 }
.blog-section h3 {
 font-size: 2em;
 }
.blog-grid h4 {
  font-size: 1.3em;
 }
.blog-grid a {
  font-size: 1.1em;
 }
.blog-grid p {
  font-size: 0.965em;
  }
.footer-bottom p {
  font-size: 15px;
  }
.footer-bottom a {
  font-size: 17px;
}
.about-grid1 h4 {
  font-size: 1.2em;
  }
  .about-grid1 p {
  font-size: 0.965em;
 }
 .aboutus h3 {
  font-size: 2em;
}
.ourteam h3 {
  font-size: 1.6em;
 }
 .ourteam h3 {
  font-size: 1.6em;
  }
 .team-grid h5 {
  font-size: 1.2em;
  }
  .team-grid p {
  font-size: 0.965em;
  }
.Offer-section  h3 {
  font-size: 1.6em;
  }
.offer-grid h5 {
  font-size: 1.2em;
  }
.offer-grid p  {
  font-size: 0.965em;
  }
 .breeding-section h3 {
  font-size: 2em;
  }
.breeding-grid1 h4 {
  font-size: 1.2em;
}  
.breeding-grid1 p {
  font-size: 0.965em;
 }
 a.button1 {
  width: 20%;
    margin-top: 0.5em;
 }
 .training-section h3 {
  font-size: 1.6em;
 }
 .train-text h5 {
  font-size: 1.17em;
 }
.train-text p {
  font-size: 0.965em;
 }
 .improve-section h3 {
  font-size: 1.6em;
 }
 .improve-grid h4 {
  font-size: 1.2em;
 }
 .improve-grid p {
  font-size: 0.965em;
 }
.raceing-section h3 {
  font-size: 2em;
 }
.e-page h3 {
  font-size: 12em;
 }
.e-page h5 {
  font-size: 3em;
 }
.e-page p {
  color: #555;
  font-size: 16px;
 }
.see-button a {
  font-size: 13px;
  padding: 1em 3em;
  }
 .mail h3 {
  font-size: 2em;
  }
.mail-grid-left h3 {
  color: #000;
  font-size: 1.6em;
  }
.contact-form input[type="text"] {
  font-size: 15px;
  }
 .contact-form input[type="submit"] {
   font-size: 15px;
}  
}
@media only screen and (max-width: 768px){
.logo h1 {
  font-size: 2.5em;
}
.top-menu ul li a {
  font-size: 1.3em;
 }
 .effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 10px;
  left: 3px;
  width: 50%;
  top: 40%;
  max-width: 300px;
  background: #989292;
  -webkit-box-shadow: 0 15px 10px #989292;
  -moz-box-shadow: 0 15px 10px #989292;
  box-shadow: 0 15px 10px #989292;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 3px;
  left: auto;
}
 .about-section {
  padding: 3em 0;
  }
 .about-section h3 {
  font-size: 1.6em;
}
.about-grid {
  float: left;
  width: 33.3%;
}
.about-grid h4 {
  font-size: 1.1em;
}
.about-grid p {
  font-size: 0.92em;
}
.service-section {
  padding: 3em 0;
 }
 .service-section h3 {
  font-size: 1.6em;
}
.service-grid {
  float: left;
  width: 33.3%;
}
.service-grid p {
  font-size: 0.92em;
}
.hourse-breeds {
  padding: 3em 0;
 }
 .hourse-breeds h3 {
  font-size: 1.6em;
}
.blog-section {
  padding: 3em 0;
 }
.blog-section h3 {
  font-size: 1.6em;
}
.blog-grid {
  float: left;
  width: 25%;
}
.blog-grid a {
  font-size: 1em;
}
.blog-grid p {
  font-size: 0.92em;
}
.blog-grid h4 {
  font-size: 1.1em;
}
.footer-section {
  padding: 3em 0;
 }
.aboutus {
  padding: 3em 0;
}
.aboutus h3 {
  font-size: 1.6em;
}
.about-grid1 h4 {
  font-size: 1.1em;
}
.about-grid1 p {
  font-size: 0.92em;
}
.about-grid1 {
  padding: 0;
  width: 60%;
  float: left;
}
.about-grid2 {
  width: 40%;
  float: left;
}
.ourteam {
  padding: 3em 0;
  }
  .ourteam h3 {
  font-size: 1.4em;
}
.team-grid {
  float: left;
  width: 25%;
}
.team-grid h5 {
  font-size: 1.05em;
}
.team-grid p {
  font-size: 0.92em;
}
.Offer-section h3 {
  font-size: 1.4em;
}
.offer-grid {
  float: left;
  width: 33.3%;
}
.offer-grid h5 {
  font-size: 1.1em;
}
.offer-grid p {
  font-size: 0.92em;
}
.breeding-section {
  padding: 3em 0;
}
.breeding-section h3 {
  font-size: 1.6em;
}
.breeding-grid {
  float: left;
  width: 40%;
}
.breeding-grid1 {
  float: left;
  width: 60%;
}
.breeding-grid1 h4 {
  font-size: 1.05em;
}
.breeding-grid1 p {
  font-size: 0.92em;
}
a.button1 {
  width: 26%;
 }
 .training-section h3 {
  font-size: 1.4em;
}
.left-grid {
  float: left;
  width: 50%;
}
.right-grid {
  float: left;
  width: 50%;
}
.train-text h5 {
  font-size: 1em;
}
.train-text p {
  font-size: 0.92em;
}
.improve-grid {
  float: left;
  width: 33.3%;
}
.improve-section h3 {
  font-size: 1.4em;
}
.improve-grid h4 {
  font-size: 1.05em;
}
.improve-grid p {
  font-size: 0.92em;
}
.improve-section {
  padding: 3em 0;
}
.raceing-section h3 {
  font-size: 1.6em;
}
.raceing-section {
  padding: 3em 0;
}
.e-page {
  padding: 11em 0 0 0;
  min-height: 670px;
}
.e-page h3 {
  font-size: 10em;
}
.mail {
  padding: 3em 0;
}
.mail h3 {
  font-size: 1.6em;
}
.map iframe {
  width: 100%;
  min-height: 350px;
}
.mail-grid-left h3 {
  font-size: 1.4em;
}
.mail-grid-left h5 {
  font-size: 13px;
}
.mail-grid-left h4 {
  font-size: 15px;
}
.mail-grid-left p {
  color: #000000;
  font-size: 13px;
}
.mail-grid-left {
  float: left;
  width: 50%;
}
.contact-form {
  float: left;
  width: 50%;
}
.contact-form input[type="text"] {
  font-size: 14px;
}
.contact-form textarea {
 font-size: 14px;
 }
 .contact-form input[type="submit"] {
  font-size: 14px;
}
}
@media only screen and (max-width: 640px){
.top-menu{
		float:none;
		width: 100%;
		padding: 2px 0 0 0;
		text-align:center;
	}
	
	.top-menu ul li{
		display:block;
		float:none;
		margin:0;
		padding: 1em 0;
	}
	.top-menu ul li a{
	  font-size: 1.2em;
	   display: block;

	}
    .top-menu ul{
		display:none;
		background:rgb(46, 62, 79);
		width:100%;
	}
	.top-menu span.menu{
		display: block;
		width: 5%;
		text-align: center;
		position:relative;
		padding:12px 0;
		margin: 0 auto;
		cursor:pointer;
		}
	.top-menu span.menu:before {
		cursor: pointer;
		text-align:center;
		width: 100%;
	}
.logo h1 {
  font-size: 2em;
}
.about-section h3 {
  font-size: 1.4em;
}
.about-grid h4 {
  font-size: 0.95em;
}
.about-grid p {
  font-size: 0.9em;
}
.service-section h3 {
  font-size: 1.4em;
}
.service-grid p {
  font-size: 0.9em;
}
a.button {
   font-size: 0.95em;
}
.hourse-breeds h3 {
  font-size: 1.4em;
}
.blog-section h3 {
  font-size: 1.4em;
}
.blog-grid a {
  font-size: 0.9em;
}
.blog-grid p {
  font-size: 0.9em;
}
.footer-bottom p {
  font-size: 14px;
}
.footer-bottom a {
  font-size: 16px;
}
.aboutus h3 {
  font-size: 1.4em;
}
.about-grid1 h4 {
  font-size: 1em;
}
.about-grid1 p {
  font-size: 0.9em;
}
.about-grid1 {
  padding: 0;
  width: 100%;
  float: none;
}
.about-grid2 {
  padding:1em 0 0;
  width: 100%;
  float: none;
}
.ourteam h3 {
  font-size: 1.25em;
}
.team-grid h5 {
  font-size: 1.05em;
}
.team-grid p {
  font-size: 0.9em;
}
.Offer-section h3 {
  font-size: 1.25em;
}
.offer-grid h5 {
  font-size: 1.05em;
}
.offer-grid p {
  font-size: 0.9em;
}
.breeding-section h3 {
  font-size: 1.4em;
}
.breeding-grid {
  float: none;
  width: 100%;
}
.breeding-grid1 {
  float: none;
  width: 100%;
}
.breeding-grid img {
  width: 100%;
}
.breeding-grid1 h4 {
  font-size: 1em;
  margin-top: 1em;
}
.breeding-grid1 p {
  font-size: 0.9em;
}
a.button1 {
  width: 17%;
  font-size: 0.95em;
}
.training-section h3 {
  font-size: 1.25em;
}
.left-grid {
  float: none;
  width: 100%;
}
.right-grid {
  float: none;
  width: 100%;
  margin-top:2em;
}
.train-text h5 {
  font-size: 0.96em;
}
.train-text p {
  font-size: 0.9em;
  line-height: 2em;
}
.improve-section h3 {
  font-size: 1.25em;
}
.improve-grid h4 {
  font-size: 0.96em;
}
.improve-grid p {
  font-size: 0.9em;
}
.raceing-section h3 {
  font-size: 1.4em;
}
.e-page {
  padding: 8em 0 0 0;
  min-height: 600px;
}
.e-page h3 {
  font-size: 9em;
}
.e-page h5 {
  font-size: 2.7em;
}
.see-button a {
  font-size: 12px;
  padding: 1em 2em;
}
.mail h3 {
  font-size: 1.4em;
}
.map iframe {
  width: 100%;
  min-height: 250px;
}
.mail-grid-left h3 {
  font-size: 1.25em;
}
.mail-grid-left h4 {
  font-size: 13px;
}
.contact-form input[type="text"] {
  font-size: 13px;
}
.contact-form textarea {
  font-size: 13px;
}
}
@media only screen and (max-width:480px){
.logo h1 {
  font-size: 1.5em;
}
.top-menu span.menu {
  display: block;
  width: 8%;
  }
.about-section h3 {
  font-size: 1.2em;
}
.rslides_tabs li img {
  width:100%;
}
.rslides_tabs li {
  width:20%;
}
.slider {
  position: relative;
  margin: 1.5em 0 0 0;
}
.top-menu ul li {
  padding: 0.5em 0;
}
.top-menu ul li a {
  font-size: 1.15em;
}
.about-grid {
  float: none;
  width: 100%;
   margin-top: 2em;
}
.about-grids {
  margin-top: 1em;
}

.about-grid h4 {
  font-size: 0.92em;
}
.service-grid {
  float: none;
  width: 100%;
   margin-top: 2em;
}
.service-section h3 {
  font-size: 1.2em;
}
.service-grids {
  padding: 0em 0;
}
a.button {
  font-size: 0.95em;
  margin: 0px 1.5em;
  float: none;
}
.hourse-breeds h3 {
  font-size: 1.2em;
}
.nbs-flexisel-inner {
  overflow: hidden;
  height: 440px !important;
 }
.blog-section h3 {
  font-size: 1.2em;
}
.blog-grid {
  float: none;
  width: 100%;
    margin-top: 2em;
}
.blog-grid img {
  border-radius: 24px;
  margin: 0 auto;
}
.blog-grids {
  margin-top: 0em;
}
.social-icons i.icon1 {
  background: url("../images/img-sprite1.png") no-repeat 4px 3px;
  background-size: 263px;
}
.social-icons i.icon2 {
  background: url("../images/img-sprite1.png") no-repeat -44px 3px;
  background-size: 263px;
}
.social-icons i.icon3 {
  background: url("../images/img-sprite1.png") no-repeat -89px 3px;
  background-size: 260px;
}

.social-icons i {
  width: 50px;
  height: 50px;
  background: url("../images/img-sprite1.png") no-repeat 0px 0px;
  display: inline-block;
  margin: 0 0 0 0.5em;
  
}
.aboutus h3 {
  font-size: 1.2em;
  margin-bottom:0;
}
.about-grid1 h4 {
  font-size: 0.965em;
}
.ourteam h3 {
  font-size: 1.15em;
}
.team-grid {
  float: none;
  width: 100%;
  margin-top:2em;
}
.team-grid img {
  margin: 0 auto;
}
.team-grid h5 {
  font-size: 0.95em;
  text-align: center;
}
.Offer-section h3 {
  font-size: 1.15em;
  margin:0%
  }
.offer-grid h5 {
  font-size: 0.95em;
  text-align:center;
}
.offer-grid {
  float: none;
  width: 100%;
  margin-top:2em;
}
.breeding-section h3 {
  font-size: 1.2em;
}
.breeding-grid1 h4 {
  font-size: 0.965em;
}
a.button1 {
  width: 23%;
  font-size: 0.95em;
}
.training-section h3 {
  font-size: 1.15em;
}
.train-text h5 {
  font-size: 0.95em;
}
.improve-section h3 {
  font-size: 1.15em;
}
.improve-grid {
  float: none;
  width: 100%;
  margin-top:2em;
}
.improve-grid img {
  margin: 0 auto;
}
.improve-grid h4 {
  font-size: 0.95em;
  text-align: center;
}
.improve-grids {
  margin-top: 0em;
}
.improve-grid p {
  text-align: center;
}
.images_1_of_4 {
  width: 47%;
  margin: 1% 12px 1% 0px;
}
.raceing-section h3 {
  font-size: 1.2em;
}
.e-page {
  padding: 8em 0 0 0;
  min-height: 490px;
 }
.e-page h3 {
  font-size: 7em;
}
.e-page h5 {
  font-size: 2em;
}
.e-page p {
  color: #555;
  font-size: 14px;
}
.mail h3 {
  font-size: 1.2em;
}
.mail-grid-left h3 {
  font-size: 1.2em;
}
.mail-grid-left {
  float: none;
  width: 100%;
  padding:0;
}
.contact-form {
  float: none;
  width: 100%;
  padding:0;
}
.contact-form input[type="submit"] {
  font-size: 13px;
}
}
@media only screen and (max-width:320px){
.logo h1 {
  font-size: 2em;
}
.logo {
 
  width: 45%;
}
.top-menu span.menu {
  display: block;
  width: 13%;
  }
.top-menu ul li a {
  font-size: 1.1em;
}
.rslides img {
  display: block;
  height: 200px;
}
.about-section {
  padding: 2em 0;
}
.about-section h3 {
  font-size: 1.17em;
}
.about-grid h4 {
  font-size: 1em;
}
.about-grid p {
 padding: 0.5em 0;
 }
 .service-section {
  padding: 2em 0;
}
a.button {
 
  font-size: 0.95em;
  margin: 0px 5.5em;
  float: none;
}
.hourse-breeds {
  padding: 2em 0;
}
.service-section h3 {
  font-size: 1.17em;
}
.nbs-flexisel-inner {
  overflow: hidden;
  height: 275px !important;
}
.hourse-breeds h3 {
  font-size: 1.17em;
}
.clients {
  margin-top: 1em;
}
.blog-section h3 {
  font-size: 1.15em;
}
.blog-section {
  padding: 2em 0;
}
.blog-grid {
    padding: 0;
}
.footer-section {
  padding: 2em 0;
}
.footer-bottom p {
  font-size: 12px;
}
.footer-bottom a {
  font-size: 14px;
}
.aboutus {
  padding: 2em 0;
}
.aboutus h3 {
  font-size: 1.3em;
}
.about-grid2 iframe {
  width: 100%;
  height: 200px;
}
.ourteam {
  padding: 2em 0;
}
.ourteam h3 {
  font-size: 1.2em;
}
.team-grid h5 {
  font-size: 0.97em;
  }
.Offer-section h3 {
  font-size: 1.2em;
  margin: 0%;
}
.Offer-section {
  padding: 0.5em 0 2em;
  }
.Offer-grid h5 {
  font-size: 0.97em;
}
.breeding-section {
  padding: 2em 0;
}
.breeding-grid {
    padding: 0;
}
.breeding-section h3 {
  font-size: 1.3em;
}
.breeding-grid1 {
   padding: 0;
}
a.button1 {
  width: 34%;
  }
.train-img {
  float: none;
  width: 100%;
  margin-right: 0;
}
.train-text {
  float: none;
  width: 100%;
}
.train-text h5 {
  font-size: 1em;
  }
.left-grid {
  padding: 0;
}
.right-grid {
   padding: 0;
}
.training-section h3 {
  font-size: 1.2em;
}
.train-text h5 {
  padding: 0.6em 0;
}
.improve-section {
  padding: 2em 0;
}
.improve-section h3 {
  font-size: 1.2em;
}
.improve-grid h4 {
  font-size: 1em;
}
.raceing-section {
  padding: 2em 0;
}
.raceing-section h3 {
  font-size: 1.3em;
  margin: 0;
}
.images_1_of_4 {
  width: 100%;
  margin: 5% 0px 0 0px;
}
.e-page h5 {
  font-size: 1.5em;
}
.e-page p {
  color: #555;
  font-size: 13px;
}
.see-button a {
  font-size: 10px;
}
.mail {
  padding: 2em 0;
}
.mail h3 {
  font-size: 1.3em;
}
.mail-grid-left h3 {
  font-size: 1.25em;
}
.mail-grid-left h4 {
  font-size: 14px;
}
.contact-form {
  margin-top: 2em;
}
}